h2{
    color:rgb(10,140,255);
}
.row{
    grid-row-gap: 5px;
}
.error{
    text-align: center;
}
footer{
    background-color:rgb(7, 17, 26);
    color:white;
    text-align: center;
    padding:15px;
}