{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<div class="container">
    <!-- General news -->
    <h3> General news</h3>
    <div class='row container'>
        {{ macro.displayArticleList(general)}}
    </div><br><br>
    <!-- Science movie -->
    <h3> Science news</h3>
    <div class='row'>
        {{ macro.displayArticleList(science)}}
    </div>
    <!-- Technology news  -->
    <h3> Technology news </h3>
    <div class='row'>
        {{ macro.displayArticleList(technology)}}
    </div>
    <!-- Now showing movie -->
    <h3>Entertainment news</h3>
    <div class='row' >
        {{ macro.displayArticleList(entertainment)}}
    </div>
    <a href='/source/abc-news'>ABC News</a>
</div>

{% endblock%}