{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}
<!-- General news -->
<h3> General news</h3>
<ul>
    {{ macro.displayArticleList(general)}}
</ul>
<!-- Science movie -->
<h3> Science news</h3>
<ul>
    {{ macro.displayArticleList(science)}}
</ul>
<!-- Technology news  -->
<h3> Technology news </h3>
<ul>
    {{ macro.displayArticleList(technology)}}
</ul>
<!-- Now showing movie -->
<h3>Entertainment news</h3>
<ul>
    {{ macro.displayArticleList(entertainment)}}
</ul>


{% endblock%}