{% macro displayArticleList(article_list) %}

    {% for article in article_list %}
        <div>
            <div class='row'>
                <div class='col-lg-5'>
                    <img src="{{article.urlToImage}}" width="100%">
                </div>
                <div class='col-lg-7'>
                    <h3>{{ article.title}}</h3><br>
                    {{article.description}}<br>
                    <a href='{{article.url}}' target = "_blank">read more...</a><br><br>
                    posted {{article.publishedAt}}
                </div>
            </div><hr>
        </div>
    {% endfor %}

{% endmacro %}


{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
        <div class='col-lg-3'>
            <a href='/source/{{source.id}}'>{{source.name}}</a>
        </div>
    {% endfor %}

{% endmacro %}

{% macro displayNews(news_list) %}

    {% for news in news_list %}
        <div >
            <div class='row'>
                <div class='col-lg-5'>
                    <img src="{{news.urlToImage}}" width="100%">
                </div>
                <div class='col-lg-7'>
                    <h3>{{ news.title}}</h3><br>
                    {{news.description}}<br>
                    <a href='{{news.url}}' target = "_blank">read more...</a><br><br>
                    posted {{news.publishedAt}}
                </div>
            </div><hr>
        </div>
    {% endfor %}

{% endmacro %}