{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
<div class="container">
    <h3> Top Headlines on {{source.name}}</h3>
    <div class='row container'>
      {%if name=="al-jazeera-english"%}
        {{macro.displayArticleList(aljezera_n)}}
      {%endif%}
      {%if name=="abc-news"%}
        {{macro.displayArticleList(bbc_news)}}
      {%endif%}

      {%if name=="abc-news-au"%}
        {{macro.displayArticleList(abc_news)}}
      {%endif%}

      {%if name=="ars-technica"%}
        {{macro.displayArticleList(tech)}}
      {%endif%}
</div>

{% endblock%}