{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
<div class="container">
    <h3> Top Headlines on {{name}}</h3>
    <div class='row container'>
      {%if name=="al-jazeera-english"%}
        {{macro.displayNews(aljazeera)}}
      {%endif%}
      {%if name=="abc-news"%}
        {{macro.displayNews(abc_news)}}
      {%endif%}

      {%if name=="abc-news-au"%}
        {{macro.displayNews(abc_au)}}
      {%endif%}

      {%if name=="ars-technica"%}
        {{macro.displayNews(tech)}}
      {%endif%}
</div>

{% endblock%}