{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <h3 style='text-align:center'> Top Headlines on {{name}}</h3><hr>
    <div class='row container'>
      {%if name=="al-jazeera-english"%}
        {{macro.displayNews(aljazeera)}}
      {%endif%}
      {%if name=="abc-news"%}
        {{macro.displayNews(abc)}}
      {%endif%}

      {%if name=="abc-news-au"%}
        {{macro.displayNews(abc_au)}}
      {%endif%}

      {%if name=="ars-technica"%}
        {{macro.displayNews(tech)}}
      {%endif%}
</div>

{% endblock%}